<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>%= xGadang %></title>
</head>
<body>
    <h1> Gadang </h1>
    <p>this about bla bla</p>
    <a href="/">back to home</a>
    
</body>
</html>